---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";
// const allPosts = await Astro.glob("../pages/posts/*.md");
// Astro.globを記載後、下記注意が表示された
// Astro.glob is deprecated and will be removed in a future major version of Astro.
// Use import.meta.glob instead: https://vitejs.dev/guide/features.html#glob-import

// const allPosts = import.meta.glob("../pages/posts/*.md"); // 今後の推奨の書き方
const allPosts = await Astro.glob("../pages/posts/*.md"); // チュートリアルのため一時的に左記の記述で進める
const pageTitle = "私のAstro学習ブログ";
---

<BaseLayout pageTitle={pageTitle}>
	<ul>
		{
			allPosts.map((post) => (
				<BlogPost url={post.url} title={post.frontmatter.title} />
			))
		}
	</ul>
	<p>ここには、私がAstroを学んでいく旅の様子を投稿します。</p>
</BaseLayout>
