---
// Astroにようこそ！この3つのハイフンのコードフェンスの中にあるものは、
// 「コンポーネントのフロントマター」です。ブラウザで実行されることはありません。
console.log("ここはブラウザではなく、ターミナルで実行されます！");
import "../styles/global.css";
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
---

<!-- 以下は「コンポーネントテンプレート」です。単なるHTMLですが、
    素晴らしいテンプレートを作成するための魔法が散りばめられています。 --><!doctype html>
<html lang="ja">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
	</head>
	<body>
		<Navigation />
		<h1>Hello, World!</h1>
	</body>
	<style>
		h1 {
			color: orange;
		}
	</style>
</html>
